<h1> Project Runway</h1>
<% @products.each do |product| %>
<h2><%= product.name %></h2> 
<p><%= product.price %></p>
<p><%= product.image %></p>
<p><%= product.description %></p>
<% end %>

<a href=" "> </a>

